<div id="content">
    <div class="main-content">
        <div class="generic-django-admin-header">
            <div class="main-section">
                <h3>
                    Let's get started with Dashboard
                </h3>
                <p>
                    Choose an option from the below to start creating your dashboard
                </p>
            </div>
            <div class="tool-section">
            </div>
        </div>
        <!-- <div class="col-md-3 col-md-push-9 col-sm-3 col-sm-push-9 text-center setup-connection">
             <img class="connection-logo" src="images/logo.svg">
<br />
             <span>+</span>
             <br/>
             <img class="connection-logo" src="images/add-stream-imgs/database.svg"> 
          </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6" style="padding: 0%;">
                    <div style="margin-bottom: 12px;">
                        <a class="list-group-item" routerLink="/publish/createdashboard/prebuilt" routerLinkActive="ActiveRoute">

                            <div class="present-newdashboard-align" style="display: flex;">
                                <!--                                
                         <div style="padding: 10px 10px 0 0;">
                            <img class="connection-logo" src="images/add-stream-imgs/mssql_shared.svg">
                    </div> -->
                                <div>

                                    <h4 class="list-group-item-heading">Use pre-built ready to use dashboard</h4>
                                    <p class="list-group-item-text">
                                        Most convenient option, just pick a pre-built dashboard from the available list, assign your data source accounts, its done and dashboard is ready for your use or to share with others
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div style="margin-bottom: 12px;">
                        <a class="list-group-item" href="#">

                            <div class="present-newdashboard-align" style="display: flex;">
                                <!-- <div style="padding: 10px 10px 0 0;">
                         <img class="connection-logo" src="images/add-stream-imgs/mssql_shared.svg">
                 </div> -->
                                <div>
                                    <h4 class="list-group-item-heading">Use available dashboard templates</h4>
                                    <p class="list-group-item-text">
                                        Choose this option to create dashboard in three easy steps by using attractive and professionally designed dashboard styles without going into any deep details
                                    </p>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div style="margin-bottom: 12px;">
                        <a class="list-group-item" href="#">

                            <div class="present-newdashboard-align" style="display: flex;">
                                <!-- <div style="padding: 10px 10px 0 0;">
                     <img class="connection-logo" src="images/add-stream-imgs/mssql_shared.svg">
             </div> -->
                                <div>
                                    <h4 class="list-group-item-heading">Create dashboard from scratch</h4>
                                    <p class="list-group-item-text">
                                        Want to design your own layout and visualization template.Choose this option to create dashboard by using your own layout and design schemes,additionally, this option also allows to create dashboard template for future usage
                                    </p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>