.css-1jkushg {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  margin-left: unset;
  padding-top: unset;
  padding-right: unset;
  padding-bottom: unset;
  padding-left: unset;
  font-family: inherit;
  box-sizing: border-box;
  background-color: rgb(221, 224, 228);
  width: 100%;
  height: 1px;
  vertical-align: top;
  position: absolute;
  left: 0px;
  bottom: 0px;
  pointer-events: none;
}
.css-1jx390f {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  margin-left: unset;
  padding-right: unset;
  padding-left: unset;
  font-family: inherit;
  box-sizing: border-box;
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: top;
}
.css-8mryim {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  margin-left: unset;
  padding-top: unset;
  padding-right: unset;
  padding-bottom: unset;
  padding-left: unset;
  font-family: inherit;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
}
.css-18qe4ku {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    vertical-align: top;
}

.css-18qe4ku:focus:not(.focus-visible) {
    outline: none;
}
.css-1ibg7jp {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  margin-left: unset;
  font-family: inherit;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(255, 255, 255);
  vertical-align: top;
  position: relative;
}

.separator-p {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    display: flex;
    vertical-align: top;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.css-u41myu {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.css-1uqv71b {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    max-width: 100px;
    max-height: 24px;
    vertical-align: top;
    overflow: hidden;
    border-width: 0px;
    border-color: rgb(147, 155, 163);
    border-style: solid;
    border-radius: 2px;
}
.css-176l2l7 {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    max-height: 24px;
    max-width: 100px;
    vertical-align: top;
    overflow: hidden;
    border-width: 0px;
    border-color: rgb(147, 155, 163);
    border-style: solid;
    border-radius: 2px;
}
.separator {
    margin-top: unset;
    margin-bottom: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    margin-left: 8px;
    margin-right: 8px;
    color: #000000;
    width: 0px;
    height: 24px;
    min-height: 100%;
    vertical-align: top;
    border-width: 0px 0px 0px 1px;
    border-color: currentcolor;
    border-style: solid;
}
.css-1u2frpk {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-bottom: unset;
    font-family: inherit;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    color: rgb(52, 59, 64);
    display: inline-flex;
    width: auto;
    height: 32px;
    vertical-align: top;
    font-size: 16px;
    line-height: 16px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 2px;
    text-decoration: none;
}

.css-1dfzm3s {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    display: inline-flex;
    vertical-align: top;
    flex-direction: row;
}
.css-teyu7s {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    display: flex;
    height: 32px;
    vertical-align: top;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.css-teyu7s> :not(:last-child) {
    margin-right: 8px;
}
.css-1mnuzev {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    display: flex;
    vertical-align: top;
}
.css-1lf83w2 {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    background-color: transparent;
    color: rgb(52, 59, 64);
    display: inline-flex;
    width: 32px;
    height: 32px;
    vertical-align: top;
    font-size: 16px;
    line-height: 16px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    padding: 0px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 2px;
    text-decoration: none;
}

.css-1lf83w2:focus:not(.focus-visible) {
    outline: none;
}

.css-1lf83w2:hover:not([aria-disabled="true"]) {
    background-color: rgb(231, 240, 253);
    color: rgb(52, 59, 64);
}

.css-1lf83w2:active:not([aria-disabled="true"]) {
    background-color: rgb(209, 226, 250);
    color: rgb(52, 59, 64);
}

.css-1lf83w2:hover {
    text-decoration: none;
}

.css-1lf83w2:focus {
    background-color: transparent;
    color: rgb(52, 59, 64);
    text-decoration: none;
}

.css-qowjcb {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-right: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(255, 255, 255);
    display: flex;
    vertical-align: top;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 13px 0px, rgba(0, 0, 0, 0.08) 0px 0px 10px 0px;
    flex-direction: column;
    border-width: 0px;
    border-color: transparent;
    border-style: solid;
    border-radius: 2px;
}
.css-m0pid7 {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    vertical-align: top;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 13px 0px, rgba(0, 0, 0, 0.08) 0px 0px 10px 0px;
    left: 0px;
    z-index: 60;
    border-width: 0px;
    border-color: transparent;
    border-style: solid;
    border-radius: 2px;
}
.css-1i6yrak {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    vertical-align: top;
}

.css-1i6yrak.css-1i6yrak>*,
.css-1i6yrak.css-1i6yrak> :hover {
    color: rgb(52, 59, 64);
    white-space: nowrap;
}

.nav-list-s {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    color: inherit;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 32px;
}
.nav-list-s a:hover{
  text-decoration: none!important ;
}
.css-1olq135 {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  margin-left: unset;
  padding-top: unset;
  padding-right: unset;
  padding-bottom: unset;
  padding-left: unset;
  font-family: inherit;
  box-sizing: border-box;
  display: flex;
  vertical-align: top;
  border-width: 0px 0px 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
}

.css-1olq135:hover {
  border-bottom: 1px solid rgb(33, 155, 156) !important;

}
.css-1lzrm4o {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-right: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    vertical-align: top;
    flex-direction: column;
}
.css-12237yf {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    box-sizing: content-box;
    transform: rotate(0deg);
    overflow: visible;
  }

.css-1r8gvqa:focus.css-1r8gvqa:focus {
    box-shadow: none;
  }
  .css-1r8gvqa:focus:not([aria-disabled="true"]) {
    background-color: rgb(231, 240, 253);
    color: rgb(52, 59, 64);
  }
  .css-1r8gvqa:active:not([aria-disabled="true"]) {
    background-color: rgb(209, 226, 250);
  }
  .css-1r8gvqa:focus:not(.focus-visible) {
    outline: none;
  }
  .css-1r8gvqa:focus {
    outline: none;
    text-decoration: none;
  }
  .css-1r8gvqa {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-bottom: unset;
    font-family: inherit;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    color: rgb(52, 59, 64);
    display: flex;
    height: 24px;
    vertical-align: top;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    user-select: none;
    cursor: pointer;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    text-decoration: none;
  }
  .css-upx6k5 {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-bottom: unset;
    font-family: inherit;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    color:rgb(33, 155, 156);
    display: flex;
    height: 24px;
    vertical-align: top;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    user-select: none;
    cursor: pointer;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    text-decoration: none;
  }
  .css-upx6k5:focus.css-upx6k5:focus {
    box-shadow: none;
  }
  .css-upx6k5:focus:not([aria-disabled="true"]) {
    background-color: rgb(231, 240, 253);
    color: rgb(52, 59, 64);
  }
  .css-upx6k5:active:not([aria-disabled="true"]) {
    background-color: rgb(209, 226, 250);
  }
  .css-upx6k5:hover:not([aria-disabled="true"]) {
    background-color: rgb(231, 240, 253);
    color: rgb(52, 59, 64);
  }
  .css-upx6k5:focus:not(.focus-visible) {
    outline: none;
  }
  .css-upx6k5:focus {
    outline: none;
    text-decoration: none;
  }
  .css-upx6k5:hover {
    text-decoration: none;
  }
  .css-1ya2rv9 {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
    font-family: inherit;
    box-sizing: border-box;
    display: flex;
    vertical-align: top;
    -webkit-box-align: center;
    align-items: center;
  }
  .css-1u5hfa:active:not([aria-disabled="true"]) {
    background-color: rgb(209, 226, 250);
    color: rgb(52, 59, 64);
  }
  .css-1u5hfa:hover:not([aria-disabled="true"]) {
    background-color: rgb(231, 240, 253);
    color: rgb(52, 59, 64);
  }
  .css-1u5hfa:focus:not(.focus-visible) {
    outline: none;
  }
  .css-1u5hfa:focus {
    background-color: transparent;
    color: rgb(52, 59, 64);
    text-decoration: none;
  }
  .css-1u5hfa:hover {
    text-decoration: none;
  }
  .css-1u5hfa {
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding-top: unset;
    padding-bottom: unset;
    font-family: inherit;
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
    color: rgb(52, 59, 64);
    display: inline-flex;
    width: 32px;
    height: 32px;
    vertical-align: top;
    font-size: 16px;
    line-height: 16px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 2px;
    text-decoration: none;
  }
  .explore-drop-btn {
    display: none;
    position: absolute;
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    transform: translate(1167px, 39px);
}
.show {
    display: block !important;
  }

.css-1u2frpk:hover:not([aria-disabled="true"]) {
    background-color: rgb(226, 242, 242);
    color: rgb(52, 59, 64);
}

.css-1u2frpk:focus:not(.focus-visible) {
    outline: none;
}

.css-1u2frpk:focus {
    background-color: transparent;
    color: rgb(52, 59, 64);
    text-decoration: none;
}

.css-1u2frpk:hover {
    text-decoration: none;
}


.css-1n3jfi4 {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  margin-left: unset;
  padding-top: unset;
  padding-bottom: unset;
  font-family: inherit;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
  background-color: transparent;
  color: rgb(52, 59, 64);
  display: inline-flex;
  width: auto;
  height: 32px;
  vertical-align: top;
  font-size: 16px;
  line-height: 16px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  border-radius: 2px;
  text-decoration: none;
}

.css-1n3jfi4:active:not([aria-disabled="true"]) {
  background-color: rgb(209, 226, 250);
  color: rgb(52, 59, 64);
}

.css-1n3jfi4:hover:not([aria-disabled="true"]) {
  background-color: rgb(231, 240, 253);
  color: rgb(52, 59, 64);
}

.css-1n3jfi4:focus:not(.focus-visible) {
  outline: none;
}

.css-1n3jfi4:focus {
  background-color: transparent;
  color: rgb(52, 59, 64);
  text-decoration: none;
}

.css-1n3jfi4:hover {
  text-decoration: none;
}



.css-1l7xwpx {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  margin-left: unset;
  padding-top: unset;
  padding-bottom: unset;
  font-family: inherit;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: top;
  box-sizing: content-box;
  transform: rotate(0deg);
  overflow: visible;
}



#TopnavbarMenuLink .nav-item{
    padding-right: 20px;
 }
 #navbar{
     border-bottom:1px solid lightgray ;
 }

#TopnavbarMenuLink>li>a{
    color: black;

}
#TopnavbarMenuLink{
        margin-left: 12px;
}
.header1{
    font-family: inherit;
    width: 100%;
    /* padding-left: 24px;
    padding-right: 24px; */
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 224, 228);;
    position: fixed;
    top: 0px;
    z-index: 40;
    box-sizing: border-box;
    display: block;
    font-family: inherit;
    height: 56px;

  -webkit-box-pack: justify;
  justify-content: space-between;
}

.css-1ghsfwx {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  margin-left: unset;
  padding-top: unset;
  padding-right: unset;
  padding-bottom: unset;
  padding-left: unset;
  font-family: inherit;
  box-sizing: border-box;
  display: flex;
  height: 32px;
  vertical-align: top;
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width:1009px) {
  #TopnavbarMenuLink .nav-item {
    padding-right: 9px;
}
}

@media (min-width:998px){
  #TopnavbarMenuLink .nav-item {
    padding-right: 9px;
}
}
@media (min-width:998px){
#TopnavbarMenuLink .nav-item {
  padding-right: 15px;
}
}