<div class="css-7eznv6" style="z-index: 0;">
    <div class="css-8pd3g8" style="z-index: 0;">
        <div class="css-19eq8b8"> <span class="css-1v8nodn">Object Logs<span class="css-1x48jmz" style="margin-top: 4px;">0</span><span></span></span>
            <div class="css-f128gq"><span class="css-79bu3q"><a class="css-db069s" role="tab" id="heading7" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7" (click)="buttonText()">{{widgetAccorButtonText}}</a></span>
            </div>
        </div>
        <hr class="css-rni0qy" mx="zero" role="separator" aria-orientation="horizontal">
    </div>
    <div id="collapse7" class="panel-collapse collapse" aria-labelledby="heading7" data-parent="#accordion7">

        <hr class="css-1mn79hm" mx="zero" role="separator" aria-orientation="horizontal">

    </div>
</div>