<div id="container" class="container-fluid">

    <!--start side bar content-->

    <!--end side bar content-->
    <!-- Content -->
    <div id="content">
        <div class="main-section">
            <div class="col-md-12" style="padding-left: 0px;">
                <h3>Digital Marketing Metrics and KPI's</h3>
                <p>
                    Get control and near real time monitoring of your digital marketing campaigns by selecting pre-built metrics and KPI's
                </p>
                <p>
                    from Zoom360 Metrics library
                </p>
                <br>
            </div>

            <div class="row kpi-section " style="background-color: #f6f6f6;">
                <div class="col-md-6">
                    <h3>
                        Average Lead Score
                    </h3>
                    <p>
                        Measure the Quality of Marketing and Sales Leads. Lead Scoring is the process of measuring the quality of marketing and sales leads based on predetermined criteria and targets.
                    </p>
                    <br>
                    <p>
                        Avg. Lead Score = Sum of Individual lead scores over a given period of time (day, week, month, etc.) / Total number of days in that period
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>

                    </div>
                </div>
                <div class="col-md-6" style="padding-left: 0px;">
                    <img src="../../../../assets/../../../../assets/images/kpi-dm-imgs/average-lead-score.png" alt="">
                </div>
            </div>

            <div class="row kpi-section ">
                <div class="col-md-6">
                    <h3>
                        Average Time on Page
                    </h3>
                    <p>
                        Measure the duration of time a viewer spends on a page.
                    </p>
                    <br>
                    <p>
                        (Time visitor A spends on page + Time visitor B spends on page + … + Time visitor N spends on page)/Total visitors on page
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>

                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/average-time-on-page.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section " style="background-color: #f6f6f6;">
                <div class="col-md-6">
                    <h3>
                        Bounce Rate
                    </h3>
                    <p>
                        Measure the number of visitors that arrive at your site and leave without navigating to any other page on your site. Monitoring your bounce rate helps you identify how effective your content and design are at attracting further interest in what your site
                        has to offer.
                    </p>
                    <br>
                    <p>
                        (Visitors leaving the site after only viewing one page/ Total site visitors)x100
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>

                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/bounce-rate.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section ">
                <div class="col-md-6">
                    <h3>
                        Brand Awareness Metric
                    </h3>
                    <p>
                        Track how people are hearing about your brand on social media and search engines.
                    </p>
                    <br>
                    <p>
                        Facebook Posts and Fans,Twitter Followers, Brand Mentions,Branded Search,Brand Awareness and comparison time periods,Brand Awareness Benchmarks,Brand Awareness Challenges
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>

                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/brand-awareness-metric.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section " style="background-color: #f6f6f6;">
                <div class="col-md-6">
                    <h3>
                        Click Through Rate (CTR)
                    </h3>
                    <p>
                        Measure how often your site on an SERP prompts users to click and navigate to your page.
                    </p>
                    <br>
                    <p>
                        Visitors that click on page result/Visitors that view the page result
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>

                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img style="width: 600px;" src="../../../../assets/images/kpi-dm-imgs/click-though-rate-blog.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section ">
                <div class="col-md-6">
                    <h3>
                        Content Downloads
                    </h3>
                    <p>
                        Measure the total number of pieces of content that have been downloaded.
                    </p>
                    <br>
                    <p>
                        Total number of content downloads
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>

                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/content-download.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section " style="background-color: #f6f6f6;">
                <div class="col-md-6">
                    <h3>
                        Cost per Action (CPA)
                    </h3>
                    <p>
                        Measure the amount of money put towards driving conversions.
                    </p>
                    <br>
                    <p>
                        Payments for conversions/Total number of conversion
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>

                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/cpa.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section ">
                <div class="col-md-6">
                    <h3>
                        Cost Per Lead
                    </h3>
                    <p>
                        Measure the cost-effectiveness of marketing campaigns.
                    </p>
                    <br>
                    <p>
                        f1=(Total cost of campaign / # of leads generated) ,f2=( Cost per Lead = Cost of Generating Leads / Total Leads Acquired)
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="float: left;">
                        <img src="../../../../assets/images/kpi-dm-imgs/cost-per-lead-1.png" alt="">
                    </div>
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/cost-per-lead-2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section " style="background-color: #f6f6f6;">
                <div class="col-md-6">
                    <h3>
                        Customer Acquisition Cost (CAC)
                    </h3>
                    <p>
                        Measure to total amount of capital it costs to gain a new customer.
                    </p>
                    <br>
                    <p>
                        Total marketing spend on customer acquisition/Total new customers
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>

                    </div>
                </div>
                <div class="col-md-6" style="padding-left: 0px;">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/customer-lifetime-value.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section ">
                <div class="col-md-6">
                    <h3>
                        Customer Attrition
                    </h3>
                    <p>
                        Measure the rate at which your company loses customers over time.
                    </p>
                    <br>
                    <p>
                        (Customers lost in a given time period/Total number of customers)x100
                    </p>
                    <div>.

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/customer-attrition.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section " style="background-color: #f6f6f6;">
                <div class="col-md-6">
                    <h3>
                        Customer Lifetime Value (LTV)
                    </h3>
                    <p>
                        Measure the amount of gross profit that is generated from a customer over the entire time they do business with a company. With the Customer Lifetime Value metric, you can monitor just how much revenue every new customer will bring into the company throughout
                        their lifetime.
                    </p>
                    <br>
                    <p>
                        Gross margin (%) x Length of lifetime in pay periods x Revenue per subscription per pay period
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/cost-per-lead-1.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section ">
                <div class="col-md-6">
                    <h3>
                        Customer Share by Category
                    </h3>
                    <p>
                        Measure the number of customers that come from a specified category, such as Region, Industry, or Company Size.
                    </p>
                    <br>
                    <p>
                        (Total number of customers that fall within category N/Total number of customers)x100
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/customer-share-by-size.png" alt="">
                    </div>
                </div>
            </div>


            <div class="row kpi-section " style="background-color: #f6f6f6;">
                <div class="col-md-6">
                    <h3>
                        Dormancy Rate
                    </h3>
                    <p>
                        Measure the number of customers that are not using your product in a given time period, the Dormancy Rate metric gives your team insight into possibly customer loss.
                    </p>
                    <br>
                    <p>
                        (Customers not using the product within time period/Total number of customers)x100
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/dormancy-rate.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section ">
                <div class="col-md-6">
                    <h3>
                        End Action Rate
                    </h3>
                    <p>
                        Measure the number of customers that come from a specified category, such as Region, Industry, or Company Size.
                    </p>
                    <br>
                    <p>
                        (Total number of customers that fall within category N/Total number of customers)x100
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/end-action-rate.png" alt="">
                    </div>
                </div>
            </div>


            <div class="row kpi-section " style="background-color: #f6f6f6;">
                <div class="col-md-6">
                    <h3>
                        External Website Links
                    </h3>
                    <p>
                        Improve Your Website Rankings and Traffic Volume by Monitoring External Links.
                    </p>
                    <br>
                    <p>
                        the popularity of the linking page, the relevance of the content between the source page and the target page, and the anchor text used in the link.
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/external-website-links.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section ">
                <div class="col-md-6">
                    <h3>
                        First Visit Metric
                    </h3>
                    <p>
                        Understand how people are finding your website and how engaged they are on their first visit. New visitors are categorized as either engaged or not engaged depending upoon Average Time on Site and Pages per Visit
                    </p>
                    <br>
                    <p>
                        Average Time on Site, and Pages per Visit.
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/first-visit-metric.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section " style="background-color: #f6f6f6;">
                <div class="col-md-6">
                    <h3>
                        Funnel Conversion Rate
                    </h3>
                    <p>
                        Measure the rate of which leads move through the marketing funnel.Monitoring the funnel conversion rate gives your team valuable insight into the efficiency of their marketing efforts and into the volume trends of their funnel.
                    </p>
                    <br>
                    <p>
                        (Number of leads that have moved to the next stage in the funnel/Leads in funnel stage)x100
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/funnel-conversion-rate.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section ">
                <div class="col-md-6">
                    <h3>
                        Goal Completion Rate
                    </h3>
                    <p>
                        Measure how effective your campaigns are at prompting your audience to complete a goal.Goals: A marketing objective for your audience to complete, such as subscribing to a mailing list. Lead: An individual that has expressed interest in your product or
                        service by completing a goal.
                    </p>
                    <br>
                    <p>
                        # of visits / # of leads and # of leads per channel / # of wins
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/goal-completion-rate.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section " style="background-color: #f6f6f6;">
                <div class="col-md-6">
                    <h3>
                        Incremental Sales

                    </h3>
                    <p>
                        Demonstrate how your marketing campaigns are resulting in increased sales revenue.
                    </p>
                    <br>
                    <p>
                        Baseline Sales: What you expect to sell for a given time period without marketing. Lead: An individual that has expressed interest in your product or service by completing a goal. Wins: New customers generated by a marketing campaign. Campaign: A marketing
                        communication on a dedicated channel intended for a business' target audience.
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/incremental-sales.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row kpi-section ">
                <div class="col-md-6">
                    <h3>
                        Incremental Sales

                    </h3>
                    <p>
                        Demonstrate how your marketing campaigns are resulting in increased sales revenue.
                    </p>
                    <br>
                    <p>
                        Baseline Sales: What you expect to sell for a given time period without marketing. Lead: An individual that has expressed interest in your product or service by completing a goal. Wins: New customers generated by a marketing campaign. Campaign: A marketing
                        communication on a dedicated channel intended for a business' target audience.
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit">Select this matric</button>
                        <button class="css-1v028ab" type="submit">Verify dependency</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="../../../../assets/images/kpi-dm-imgs/incremental-sales.png" alt="">
                    </div>
                </div>
            </div>

            <!-- end content-->
        </div>
    </div>
    <!-- END Content -->
</div>