<form #SaveUserSettings="ngForm" (ngSubmit)="SaveConfig(SaveUserSettings.value)" autocomplete="off">
   
<div class="row">
    <div class="col-md-12" style="padding: 0px;" >
        <div class="col-md-4"  >
          <div class="main-section">
              <h3 style="margin-bottom: 17.5px;">
                Settings
              </h3>
          </div>   
      </div>
      <div class="col-md-7 col-md-offset-1"  >
          <div class="main-section  pull-right">
              <div class="input-bar-item">
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="+ Add new user" (click)="this.userAccessManagementService.newUser()">
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="Make a copy">
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="Save changes">
                
                <input class="css-xpr64j" id="savebtn" type="submit" style="margin-right: 5px;" value="Disable user">
                <input class="css-xpr64j" id="savebtn" type="submit"  routerLink="/govern/accessmanagement/userslist" value="Goto list page" />
            </div>
          </div>   
      </div>
    </div>
    </div>
<div id="content-main" class="contentMain">
        <fieldset class="module aligned ">
            <!-- <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Default display mode</label>
                    <div class="related-widget-wrapper"> -->
                        <!-- <input id="displayMode" ej-dropdownlist [dataSource]="_displayMode" [fields]="fieldsvalues" [value]="defaultPageValue" watermarkText="Select a skill" width="100%" width="480px" /> -->
                        <!--   <ejs-dropdownlist id='displayMode' [dataSource]='_displayMode' [(value)]='displayMode' [fields]='fieldsvalues' placeholder='Select display mode'></ejs-dropdownlist> -->
                    <!-- </div>
                    <div class="help">What will be the first display mode for user after login to the application</div>
                </div>
            </div> -->
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Default display mode</label>
                    <div class="related-widget-wrapper">
                        <!-- <input id="defaultPage" ej-dropdownlist [dataSource]="_defaultPage" [fields]="fieldsvalues" watermarkText="Select a skill" width="100%" width="480px" /> -->
                        <ejs-dropdownlist id='displayMode' name="displayModeDropdown" [dataSource]='_displayMode' [(value)]='displayMode' [fields]='fieldsvalues' placeholder='Select display mode'></ejs-dropdownlist>
                    </div>
                    <div class="help">What will be the first display mode for user after login to the application</div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Default page</label>
                    <div class="related-widget-wrapper">
                        <!-- <input id="defaultPage" ej-dropdownlist [dataSource]="_defaultPage" [fields]="fieldsvalues" watermarkText="Select a skill" width="100%" width="480px" /> -->
                        <ejs-dropdownlist id='defaultPage' Name="defaultPageDropDown" [dataSource]='_defaultPage' [(value)]='defaultPageValue' [fields]='fieldsvalues' placeholder='Select default page'></ejs-dropdownlist>
                    </div>
                    <div class="help">What will be the first page for user after login to the application</div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="required" for="id_auth">Display theme</label>
                    <div class="related-widget-wrapper">
                        <!-- <input id="displaytheme" ej-dropdownlist [dataSource]="_displayTheme" [fields]="fieldsvalues" watermarkText="Select a skill" width="100%" width="480px" /> -->
                        <ejs-dropdownlist id='displaytheme' name="displayThemeDropDown" [dataSource]='_displayTheme' [(value)]='defaultTheme' [fields]='fieldsvalues' placeholder='Select default theme'></ejs-dropdownlist>
                    </div>
                    <div class="help">Select individual theme for the user. It shall contain allowed list of themes from application set up</div>
                </div>
            </div>

        </fieldset>
        <fieldset class="module aligned " style="height: 205px;">

        </fieldset>

    
</div>
</form>