<div class="dashboards-column-right">
    <span>
        <!-- <div class="css-11gyg4s">
           <div class="css-1jfns9s">
              <div class="css-w69ree">
                 <div class="css-nss5cx">
                    <input class="css-1kk73xg" type="search" placeholder="Filter dashboards" value="">
                    <svg class="css-8e1dh6"  fill="currentcolor" viewBox="0 0 24 24">
                       <path d="M15.435 14.063h-.723l-.256-.247a5.92 5.92 0 001.437-3.87 5.946 5.946 0 10-5.947 5.947 5.92 5.92 0 003.87-1.437l.247.256v.723L18.637 20 20 18.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 015.83 9.946 4.111 4.111 0 019.946 5.83a4.111 4.111 0 014.117 4.116 4.111 4.111 0 01-4.117 4.117z"></path>
                    </svg>
                 </div>
              </div>
              <div class="css-oj666y" role="group">
                 <div class="css-10o8vup ads_GROUP_ITEM">Sort</div>
                 <div class="css-8mryim" role="combobox" aria-expanded="false" aria-haspopup="listbox" aria-labelledby="downshift-0-label">
                    <div class="css-nss5cx">
                       <input class="css-kc0oy2 ads_GROUP_ITEM" type="text" readonly="" aria-autocomplete="list" aria-labelledby="downshift-0-label" autocomplete="off" id="downshift-0-input" placeholder="Select.." value="Created">
                       <svg class="css-8e1dh6"  fill="currentcolor" viewBox="0 0 24 24" type="button" role="button" aria-label="open menu" aria-haspopup="true" data-toggle="true">
                          <path d="M12 14.172l5.657-5.657 1.414 1.414L12 17 4.929 9.929l1.414-1.414z"></path>
                       </svg>
                    </div>
                    <div class="css-3nvql" id="id-mqmq72" role="dialog" tabindex="-1" data-dialog="true" style="position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; transform: translate(0px, 32px); display: none;" hidden="">
                       <div style="position: relative; height: 96px; width: 100%; overflow: auto; will-change: transform; direction: ltr;">
                          <div style="height: 96px; width: 100%;"><span class="css-awaa1f css-12jzot7" id="downshift-0-item-0" role="option" aria-selected="false" data="[object Object]" style="position: absolute; left: 0px; top: 0px; height: 32px; width: 100%;"><span class="css-x5dnxc">Alphabetical</span></span>
    <span class="css-1uuhzs6 css-1p0z67a" id="downshift-0-item-1" role="option" aria-selected="false" data="[object Object]" style="position: absolute; left: 0px; top: 32px; height: 32px; width: 100%;"><span class="css-x5dnxc">Created</span></span>
    <span class="css-awaa1f css-12jzot7" id="downshift-0-item-2" role="option" aria-selected="false" data="[object Object]" style="position: absolute; left: 0px; top: 64px; height: 32px; width: 100%;"><span class="css-x5dnxc">Updated</span></span>
</div>
</div>
</div>
</div>
</div>
</div>
</div> -->
<div class="css-bk42y6">
    <div class="css-18qe4ku">
        <div>
            <div class="divider-3iFJH"></div>
            <div class="padding-1-aCP">
                <div class="css-17lzegb">
                    <div class="css-1aqhmip">
                        <div class="css-1ttw7ar">
                            <div class="css-18qe4ku" aria-expanded="false" aria-controls="id-d5r15k" aria-haspopup="menu" tabindex="0" role="button">
                                <a class="css-1cyzg4u" routerLink="/publish/createdashboard/getstarted" routerLinkActive="ActiveRoute">
                                    <svg class="css-1ttiz0w" fill="currentcolor" viewBox="0 0 24 24">
                                      <path d="M13 5v6h6v2h-6v6h-2v-6H5v-2h6V5h2z"></path>
                                   </svg> Create dashboard
                                </a>
                            </div>
                            <div class="css-1n73z1f css-jjcmwi" id="id-d5r15k" hidden="" role="menu" tabindex="-1" data-dialog="true" aria-orientation="vertical" style="display: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; transform: translate(1121px, 170px);">
                                <button class="css-1r8gvqa" id="id-d5r15k-1" tabindex="0" role="menuitem">
                                   <svg class="css-178njog"  fill="currentcolor" viewBox="0 0 24 24">
                                      <path d="M13 5v6h6v2h-6v6h-2v-6H5v-2h6V5h2z"></path>
                                   </svg>
                                   <span class="css-x5dnxc">Create empty dashboard</span>
                                </button>
                                <button class="css-1r8gvqa" id="id-d5r15k-2" tabindex="-1" role="menuitem">
                                   <svg class="css-178njog"  fill="currentcolor" viewBox="0 0 24 24">
                                      <path d="M14.2 5L18 8.667V19H6V5h8.2zM13 11h3V9H8v2h3v6h2v-6z"></path>
                                   </svg> 
                                   <span class="css-x5dnxc">Create dashboard from template</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="divider-3iFJH"></div>
            <div class="padding-1-aCP" *ngFor="let publish of Getworkbookdtos">
                <div class="css-17lzegb" >
                    <div class="css-1l3hwws" >
                        <span class="css-pm3q3o">{{publish.name}} /&nbsp;</span>
                        <div class="css-mr9sjp"><span class="css-vytpda">{{publish.pages.length}} Dashboards</span></div>
                    </div>
                </div>
                <!-- <div class="row"> -->
                    <section class="relativeContainer-3Ondn draftDashboardContainer-17jWv visible-1ndGQ">
                        <div  class="absoluteGrid col-sm-2 col-md-2 col-lg-2" style="position: relative; display: block; height: 210.5px; width: 200px;padding: 0px;" *ngFor="let pages of publish.pages" (click)="getDashboardwidget(pages)"> 
                            <div style="width: 172px; height: 200px;  position: absolute; box-sizing: border-box; display: block;" >
                                <div class="dashboardGridItemContainer-1-6yW">
                                    <div class="gridItem-2jwAS">
                                        <div class="front-26gUE" draggable="true" style="opacity: 1;"  >
                                            <div class="header-3ta0v dragCursor-3JvKj">
                                                <div class="headerRight-1_QMO">
                                                    <div class="iconContainer-2D95h large-2khIg additionalInfo-3Gm8l pointer-1eSlO">
                                                        <svg width="16px" height="16px" viewBox="0 0 16 16">
                                                      <title>Show additional info</title>
                                                      <g fill="#343B40">
                                                         <circle cx="8" cy="2" r="2"></circle>
                                                         <circle cx="8" cy="8" r="2"></circle>
                                                         <circle cx="8" cy="14" r="2"></circle>
                                                      </g>
                                                   </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-3b6HX" >
                                                <div class="title-1x4eX"><a class="css-x5dnxc" href="/dashboard/customdashboard">{{pages.name}}</a></div>
                                                <div class="meta-1jM4C">
                                                    <span class="itemCount--3eY2 marginBottom-1hath" title="1 widget">5 widget</span><span class="dateCreated-AY5_r" title="Created on 08/11/2020">08/11/2020</span>
                                                    <div class="accessIcon-24liQ">
                                                        <svg width="14px" height="14px" viewBox="0 0 16 16">
                                                      <path fill="#4A4A4A" d="M11.0033389,7 C12.1118531,7 13,6.1066667 13,5 C13,3.89333333 12.1118531,3 11.0033389,3 C9.8948247,3 9,3.89333333 9,5 C9,6.1066667 9.8948247,7 11.0033389,7 Z M5.0033389,7 C6.1118531,7 7,6.1066667 7,5 C7,3.89333333 6.1118531,3 5.0033389,3 C3.89482471,3 3,3.89333333 3,5 C3,6.1066667 3.89482471,7 5.0033389,7 Z M5,9 C3.33571429,9 0,9.78 0,11.3333333 L0,13 L10,13 L10,11.3333333 C10,9.78 6.6642857,9 5,9 Z M10.7302384,9 C10.5119197,9 10.2634881,9.0133333 10,9.0333333 C10.8732748,9.5933333 11.4830615,10.3466667 11.4830615,11.3333333 L11.4830615,13 L16,13 L16,11.3333333 C16,9.78 12.4843162,9 10.7302384,9 Z"></path>
                                                   </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            <!-- </div> -->
            </div>
        </div>
    </div>
</div>
</span>
</div>