
/*start Temporary Css FOR BLACK THEME  */

/* .css-ucma6b{
    color: rgb(255, 255, 255);
}
.css-1wfdhj{
    color: rgb(255, 255, 255);
}
.css-1wfdhj:hover {
    color: rgb(255, 255, 255) !important;
    background-color: #000000;
}
.roleDiv > a:hover, .roleDiv > a:active, .roleDiv > a:focus {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
} */

/*start Temporary Css FOR BLACK THEME  */