<div  class="col-sm-12 col-md-12 col-lg-12 col-xl-12 dashboards-column-right" style="background: linear-gradient(to right, #2c9b9d, #5294db ); padding:0; border-width: 0px 0px 0px 1px; border-color: rgb(221, 224, 228); border-style: solid;">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-left: 0;">
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="channels-small-box">
                <div style="margin-top:60px;">
                    <img src="../assets/images/fbcore.svg" height="80" width="130" title="Facebook Public Page" alt="Facebook Public Page">
                </div>
                <div>
                    <a href=""> Analyze more</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-2">
            <div class="channels-small-box">
                <h3>Clicks</h3>
            </div>
        </div> -->
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"  >
            <div class="dashboard-small-box">
                <div style="padding-top: 16px;">
                    <h3>
                        6.5M
                    </h3>
                    <p> Impressions</p>
                </div>
                </div>
                <div class="dashboard-small-box" >
                   <div style="padding-top: 16px;">
                    <h3>
                        0.6M
                    </h3>
                    <p>Clicks</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8" style="padding-right: 0;">
            <div class="channels-small-box" style="height:250px">
             <app-basic-column-chart-widget #basicColumnChart7></app-basic-column-chart-widget>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-left: 0;">
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="channels-small-box">
                <div style="margin-top:60px;">
                    <img src="../assets/images/sheets.svg" height="80" width="130" title="Google Sheets" alt="Google Sheets">
                </div>
                <div style="padding-top:24px">
                    <a href=""> Analyze more</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-2">
            <div class="channels-small-box">
                <h3>Clicks</h3>
            </div>
        </div> -->
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="dashboard-small-box">
                <div style="padding-top: 16px;">
                    <h3>
                        6.5M
                    </h3>
                    <p> Impressions</p>
                </div>
                </div>
                <div class="dashboard-small-box" >
                   <div style="padding-top: 16px;">
                    <h3>
                        0.6M
                    </h3>
                    <p>Clicks</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8" style="padding-right: 0;">
            <div class="channels-small-box" style="height:250px">
            <app-basic-column-chart-widget #basicColumnChart8></app-basic-column-chart-widget>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-left: 0;">
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="channels-small-box">
                <div style="margin-top:60px;">
                    <img src="../assets/images/mysql.svg" height="80" width="130" title="My SQL" alt="My SQL">
                </div>
                <div style="padding-top:24px">
                    <a href=""> Analyze more</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-2">
            <div class="channels-small-box">
                <h3>Clicks</h3>
            </div>
        </div> -->
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="dashboard-small-box">
                <div style="padding-top: 16px;">
                    <h3>
                        6.5M
                    </h3>
                    <p> Impressions</p>
                </div>
                </div>
                <div class="dashboard-small-box" >
                   <div style="padding-top: 16px;">
                    <h3>
                        0.6M
                    </h3>
                    <p>Clicks</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8" style="padding-right: 0;">
            <div class="channels-small-box" style="height:250px">
            <app-basic-column-chart-widget #basicColumnChart9></app-basic-column-chart-widget>
            </div>
        </div>
   
</div>