
<div class="dashboards-column-right" style="background: linear-gradient(to right, #2c9b9d, #5294db );height: 100%; border-width: 0px 0px 0px 1px; border-color: rgb(221, 224, 228); border-style: solid;">
   <!-- Bar Chart -->
    <div class="row" style="margin-right: 0px;">
        <div class="col-md-12">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box" style="height: 250px;">
                    <app-bar-chart-wedget #barChart2></app-bar-chart-wedget>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box" style="height: 250px;">
                    <app-bar-chart-wedget #barChart3></app-bar-chart-wedget>
                    
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box">
                    <div style="height:110px;">
                        <app-basic-column-chart-widget #basicColumnChart7></app-basic-column-chart-widget>
                        </div>
                        <hr>
                        <div style="height:110px;">
                        <app-basic-column-chart-widget #basicColumnChart8></app-basic-column-chart-widget>
                     </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="channels-small-box"  style="height: 250px;">
                    <app-bar-chart-wedget #barChart></app-bar-chart-wedget>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- column Stack Chart -->
    <div class="row" style="margin-right: 0px;">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box" style="height: 250px;">
                    <app-stack-chart-wedget #stackChart2></app-stack-chart-wedget>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box" style="height: 250px;">
                    <app-stack-chart-wedget #stackChart3></app-stack-chart-wedget>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box" >
                    <div style="height: 110px;">
                        <app-stack-chart-wedget #stackChart4></app-stack-chart-wedget>
                    </div>
                    <hr>
                    <div style="height: 110px;">
                        <app-stack-chart-wedget #stackChart5></app-stack-chart-wedget>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="channels-small-box" style="height: 250px;">
                        <app-stack-chart-wedget #stackChart></app-stack-chart-wedget>
                </div>
            </div>
        </div>
    </div>
    <!-- Line Chart -->
    <div class="row" style="margin-right: 0px;">
        <div class="col-md-12">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box" style="height: 250px;">
                    <app-line-chart-wedget #lineChart2></app-line-chart-wedget>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box" style="height: 250px;">
                    <app-line-chart-wedget #lineChart3></app-line-chart-wedget>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box">
                    <div style="height: 110px;">
                        <app-line-chart-wedget #lineChart4></app-line-chart-wedget>
                    </div>
                    <hr>
                    <div style="height: 110px;">
                        <app-line-chart-wedget #lineChart5></app-line-chart-wedget>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6" >
                <div class="channels-small-box" style="height: 250px;">
                       <app-line-chart-wedget #lineChart></app-line-chart-wedget>
                    <!-- <app-pie-chart-wedget #pieChart></app-pie-chart-wedget> -->
                    <!-- <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="msdataSource">
                    </fusioncharts> -->
                </div>
            </div>
        </div>
    </div>
    <!-- basic ColumnChart -->
    <div class="row" style="margin-right: 0px;">
        <div class="col-md-12">
           <div class="col-sm-12 col-md-12 col-lg-4 col-xl-2">
              <div class="channels-small-box" style="height:250px;">
                <app-basic-column-chart-widget #basicColumnChart2></app-basic-column-chart-widget>
                </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-4 col-xl-2">
              <div class="channels-small-box" style="height:250px;">
              <app-basic-column-chart-widget #basicColumnChart3></app-basic-column-chart-widget>
              </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-4 col-xl-2">
              <div class="channels-small-box">
                 <div style="height:110px;">
                    <app-basic-column-chart-widget #basicColumnChart4></app-basic-column-chart-widget>
                 </div>
                 <hr>
                 <div style="height:110px;">
                    <app-basic-column-chart-widget #basicColumnChart5></app-basic-column-chart-widget>
                 </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <div class="channels-small-box" style="height:250px;">
                  <app-basic-column-chart-widget #basicColumnChart6></app-basic-column-chart-widget>
              </div>
           </div>
        </div>
     </div>
     <!-- Area Chart -->
     <div class="row" style="margin-right: 0px;">
        <div class="col-md-12">
           <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
              <div class="channels-small-box" >
                 <div style="height:250px;">
                    <app-area-chart-wedget #areaChart1></app-area-chart-wedget>
                 </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
              <div class="channels-small-box">
                 <div style="height:250px;">
                    <app-area-chart-wedget #areaChart2></app-area-chart-wedget>
                 </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
              <div class="channels-small-box">
                 <div style="height:110px;">
                    <app-area-chart-wedget #areaChart3></app-area-chart-wedget>
                 </div>
                 <hr>
                 <div style="height:110px;">
                    <app-area-chart-wedget #areaChart4></app-area-chart-wedget>
                 </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <div class="channels-small-box" style="height:250px;">
                
                  <app-area-chart-wedget #areaChart5></app-area-chart-wedget>
                
              </div>
           </div>
        </div>
     </div>
     <!-- Pie Chart -->
     <div class="row" style="margin-right: 0px;">
        <div class="col-md-12">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box" style="height: 250px;">
                    <app-pie-chart-wedget #pieChart2></app-pie-chart-wedget>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box" style="height: 250px;">
                    <app-pie-chart-wedget #pieChart3></app-pie-chart-wedget>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="channels-small-box">
                    <div style="height: 110px;">
                        <app-pie-chart-wedget #pieChart4></app-pie-chart-wedget>
                    </div>
                    <hr>
                    <div style="height: 110px;">
                        <app-pie-chart-wedget #pieChart5></app-pie-chart-wedget>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6" >
                <div class="channels-small-box" style="height: 250px;">
                    <app-pie-chart-wedget #pieChart></app-pie-chart-wedget>
                    <!-- <app-pie-chart-wedget #pieChart></app-pie-chart-wedget> -->
                    <!-- <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="msdataSource">
                    </fusioncharts> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->