<!-- <div class="container-fluid"> -->
        
    <div style="min-height:640px; padding-bottom:24px; border-left:1px solid rgb(221, 224, 228);border-right:1px solid rgb(221, 224, 228);padding-right:15px !important;padding-left: 15px !important;">
        <div class="row">
            <div class=" col-md-6 col-lg-6" style="padding-top:24px;" *ngIf="false">
                <div style=" padding:8px;border: 1px solid rgb(221, 224, 228);">
                    <div class="row">
                        <div class="col-md-9">
                            <div style="display: flex;">
                                <div>
                                    <span style="padding-right: 5px;">Shift budget to Campaign</span>
                                </div>
                                <div>
                                    <span style="padding-right: 5px;" class="red-label">medium</span>
                                </div>
                                <div>
                                    <span class="green-label">Conversion</span>
                                </div>
                            </div>
                            <div style=" ">
                                <p style="font-weight: 600;font-size: 12px; margin-top: 0;margin-bottom: 4px;">UK_BR_TROAS_Sunglasses</p>
                            </div>
                            <div><span>Fashion Club UK - Microsoft Ads</span></div>
                        </div>
                        <div class="col-md-3" style="display: inline-block; text-align: center;">
                            <div>
                                <img src="assets/images/tbbtyr_nqf.svg" style="width:36%" alt="Google Drive">
                            </div>
                            <div>
                                <span>
                        
                        </span>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 24px;">
                        <p style="font-weight: 600; font-size:16px;">
                            {{this.AIinsight[2].header_Content}}
                         </p>
                         <p>{{this.AIinsight[2].tail_Content}}</p>
                        <!-- <p style="font-weight: 600; font-size:16px;">
                            Increase Return on Investment
                        </p>
                        <p>One campaign was identified which is limited in budget.</p>
                        <p>You can schive a higer overall <b>Return on Investment</b>by shifiting budget to this campaign.</p> -->
                    </div>
                    <div style="height: 220px;">
                        <app-line-chart-wedget #lineChart9></app-line-chart-wedget>
                        <!-- <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource3">
                        </fusioncharts> -->
                    </div>
                    <div style="display: flex; justify-content: space-between;     padding: 12px 0 0 0;">
                        <div>
                            <span style="padding-right:24px;"><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-up-solid.svg" alt=""> <label>0</label></span>
                            <span><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-down-solid.svg" alt=""> <label>0</label></span>
                        </div>
                        <div>
                            <button class="btn-light-green">Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 col-lg-6" style="padding-top:24px;" *ngIf="false">
                <div style=" padding:8px;border: 1px solid rgb(221, 224, 228);">
                    <div class="row">
                        <div class="col-md-9">
                            <div style="display: flex;">
                                <div>
                                    <span style="padding-right: 5px;">Shift budget to Campaign</span>
                                </div>
                                <div>
                                    <span style="padding-right: 5px;" class="red-label">medium</span>
                                </div>
                                <div>
                                    <span class="green-label">Conversion</span>
                                </div>
                            </div>
                            <div style=" ">
                                <p style="font-weight: 600;font-size: 12px; margin-top: 0;margin-bottom: 4px;">UK_BR_TROAS_Sunglasses</p>
                            </div>
                            <div><span>Fashion Club UK - Microsoft Ads</span></div>
                        </div>
                        <div class="col-md-3" style="display: inline-block; text-align: center;">
                            <div>
                                <img src="assets/images/tbbtyr_nqf.svg" style="width:36%" alt="Google Drive">
                            </div>
                            <div>
                                <span>
                        
                        </span>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 24px;">
                        <p style="font-weight: 600; font-size:16px;">
                            {{this.AIinsight[3].header_Content}}
                         </p>
                         <p>{{this.AIinsight[3].tail_Content}}</p>
                        <!-- <p style="font-weight: 600; font-size:16px;">
                            Increase Return on Investment
                        </p>
                        <p>One campaign was identified which is limited in budget.</p>
                        <p>You can schive a higer overall <b>Return on Investment</b>by shifiting budget to this campaign.</p> -->
                    </div>
                    <div style="height: 220px;">
                        <app-line-chart-wedget #lineChart10></app-line-chart-wedget>
                        <!-- <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource3">
                        </fusioncharts> -->
                    </div>
                    <div style="display: flex; justify-content: space-between;     padding: 12px 0 0 0;">
                        <div>
                            <span style="padding-right:24px;"><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-up-solid.svg" alt=""> <label>0</label></span>
                            <span><img style="width:4%; margin-right: 20px;" src="assets/images/thumbs-down-solid.svg" alt=""> <label>0</label></span>
                        </div>
                        <div>
                            <button class="btn-light-green">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- {{this.AIinsight[0].Header_Content|json}} -->
    <!-- <div class="col-sm-12   col-md-2 col-lg-2 right-sidebar">
        
    </div> -->
<!-- </div> -->
