.breadcrumbs {
    margin: 0 0 15px 0;
    padding: 0;
  }
  
  @media (min-width: 768px) {
    .breadcrumbs {
      margin: 0;
    }
  }
  
  .breadcrumbs li {
    color: #6c838f;
    display: inline;
    font-weight: 300;
    font-size: 13px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .breadcrumbs li + li::before {
    content: ">";
    margin: 0 4px;
  }
  
  .breadcrumbs li a:visited {
    color:#1364c2;
  }
  /***** Buttons *****/
.button, [role="button"] {
  border: 1px solid #13a9ff;
  border-radius: 4px;
  color: #13a9ff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 2.34;
  margin: 0;
  padding: 0 20px;
  text-align: center;
  transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  -webkit-touch-callout: none;
}

@media (min-width: 768px) {
  .button, [role="button"] {
    width: auto;
  }
}

 .button::after, [role="button"]::after {
  color: #13a9ff;
}

.button:hover, .button:active, .button:focus, .button[aria-selected="true"], [role="button"]:hover, [role="button"]:active, [role="button"]:focus, [role="button"][aria-selected="true"] {
  background-color: #13a9ff;
  color: #ffffff;
  text-decoration: none;
}

.button[aria-selected="true"]:hover, .button[aria-selected="true"]:focus, .button[aria-selected="true"]:active, [role="button"][aria-selected="true"]:hover, [role="button"][aria-selected="true"]:focus, [role="button"][aria-selected="true"]:active {
  background-color: #a43f0f;
  border-color: #a43f0f;
}

.button[data-disabled], [role="button"][data-disabled] {
  cursor: default;
} 

 .button-large, input[type="submit"] {
  background-color: #13a9ff;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.72;
  min-width: 190px;
  padding: 0 1.9286em;
  width: 100%;
}

@media (min-width: 768px) {
  .button-large, input[type="submit"] {
    width: auto;
  }
}

.button-large:hover, .button-large:active, .button-large:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background-color: #a43f0f;
}

.button-large[disabled], input[type="submit"][disabled] {
  background-color: #ddd;
}

.button-secondary {
  color: #6c838f;
  border: 1px solid #ddd;
  background-color: transparent;
}

.button-secondary:hover, .button-secondary:focus, .button-secondary:active {
  color: rgba(64, 78, 85, 1);
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}
/* a {
	background-color: transparent
} */

a:active,
a:hover {
	outline: 0;
  color: #ffffff;
}
