
<div class="main-section col-sm-12 col-md-12 col-lg-12 col-xl-12"><h3 class="css-pm3q3o" style="margin-top: 0;margin-bottom: 17.5px;">Forecast</h3></div>
<div>
<div>
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
<div class="reveal-score-card" style="margin-bottom: 1rem;">
<p class="score-card-bold-text">Forecast-Final Spend</p>
<h2 class="score-card-bold-text purple-color" style="font-size: 24px; margin-bottom: 1rem;">$163,809</h2>
<p class="score-card-bold-text purple-color">$</p>
</div>
<p>Total perdicted Spend for whole period, based on Spend to date and adjusted for seasonality</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="reveal-score-card" style="margin-bottom: 1rem;">
        <p class="score-card-bold-text">Spending to date</p>
        <h2 class="score-card-bold-text" style="font-size: 24px; margin-bottom: 1rem;">$15,262</h2>
        </div>
        <p>Total Spend, from start of the period up to yesturday</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="reveal-score-card" style="margin-bottom: 1rem;">
        <p class="score-card-bold-text">Target to date</p>
        <h2 class="score-card-bold-text" style="font-size: 24px; margin-bottom: 1rem;">$23,401</h2>
        </div>
        <p>How mush should have been spentup until yesterday to match your budget</p>
</div>
</div>
<div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <app-basic-column-chart-widget #basicColumnChart1></app-basic-column-chart-widget>
    </div>
</div>
</div>
<div>
    <div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="reveal-score-card" style="margin-bottom: 1rem;">
    <p class="score-card-bold-text">Forecast-Final Spend</p>
    <h2 class="score-card-bold-text purple-color" style="font-size: 24px; margin-bottom: 1rem;">$726,613</h2>
    <p class="score-card-bold-text" style="color: red;">$542,950</p>
    </div>
    <p>Total perdicted Spend for whole period, based on Spend to date and adjusted for seasonality</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="reveal-score-card" style="margin-bottom: 1rem;">
            <p class="score-card-bold-text">Spending to date</p>
            <h2 class="score-card-bold-text" style="font-size: 24px; margin-bottom: 1rem;">$642,571</h2>
            </div>
            <p>Total Spend, from start of the period up to yesturday</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="reveal-score-card" style="margin-bottom: 1rem;">
            <p class="score-card-bold-text">Target to date</p>
            <h2 class="score-card-bold-text" style="font-size: 24px; margin-bottom: 1rem;">$147,426</h2>
            </div>
            <p>How mush should have been spentup until yesterday to match your budget</p>
    </div>
    </div>
    <div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
            <!-- <app-bar-chart-wedget #barChart></app-bar-chart-wedget> -->
            
        <app-basic-column-chart-widget #basicColumnChart2></app-basic-column-chart-widget>
        </div>
    </div>
</div>
<div>
    <div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="reveal-score-card" style="margin-bottom: 1rem;">
    <p class="score-card-bold-text">Forecast-Final Spend</p>
    <h2 class="score-card-bold-text purple-color" style="font-size: 24px; margin-bottom: 1rem;">$726,613</h2>
    <p class="score-card-bold-text" style="color: red;">$542,950</p>
    </div>
    <p>Total perdicted Spend for whole period, based on Spend to date and adjusted for seasonality</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="reveal-score-card" style="margin-bottom: 1rem;">
            <p class="score-card-bold-text">Spending to date</p>
            <h2 class="score-card-bold-text" style="font-size: 24px; margin-bottom: 1rem;">$642,571</h2>
            </div>
            <p>Total Spend, from start of the period up to yesturday</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="reveal-score-card" style="margin-bottom: 1rem;">
            <p class="score-card-bold-text">Target to date</p>
            <h2 class="score-card-bold-text" style="font-size: 24px; margin-bottom: 1rem;">$147,426</h2>
            </div>
            <p>How mush should have been spentup until yesterday to match your budget</p>
    </div>
    </div>
    <div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
            
        <app-basic-column-chart-widget #basicColumnChart3></app-basic-column-chart-widget>
        </div>
    </div>
</div>