<!-- <section>
    <div id="container" class="container-fluid">
         
        <div class="sidebar-border">
            <div style="width: 224px;"></div>
            <div class="css-g4ubxk" style="height: auto;">
                <div class="css-1he1u4o">
                    <div class="css-lve0xm">
                        <nav class="css-yti68a">
                            <ul class="css-ctqjzd">
                                <li class="css-ucma6b">Prepare</li>
                                <li class="css-15rwz9m" *ngFor="let sub of menuservice.subMenuSection">
                                    <a class="css-1wfdhj" [routerLinkActive]="'ActiveRoute'"  routerLink="{{sub.submenuSectionitems.url}}">{{sub.submanuName}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
         
        <div id="content">
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </div>
        
    </div>
</section> -->


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2 explore-sidebar subMenu-section-padding">
            <div class="faq">
                <div   class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                    <div class="css-ctqjzd" *ngFor="let item of MenuService.subMenuSection">
                        <div role="tab" class="roleDiv" id="heading">
                            <!-- <h3 class="panel-title-z"> -->
                                
                                <a class="css-ucma6b collapsed" data-toggle="collapse" href="#collapse{{item.sectionId}}" aria-expanded="true" aria-controls="collapse" >{{item.sectionName}}</a>
                            <!-- </h3> -->
                        </div>
                        <div id="collapse{{item.sectionId}}" class="panel-collapse collapse">
                            <div class="submenu-item-padding">
                                <div class="css-bk42y6">
                                    <a class="css-1wfdhj" *ngFor="let itemsubMenu of item.submenuSectionitems" routerLink="/enrich/prepare/{{itemsubMenu.url}}" routerLinkActive="ActiveRoute" aria-expanded="false">
                                        {{itemsubMenu.subMenuName}}
                                </a>

                            <!-- <a class="css-1wfdhj" routerLink="/enrich/prepare/enrichmodelmapping" routerLinkActive="ActiveRoute" aria-expanded="false">
                                       Model Mapping
                            </a>
                            <a class="css-1wfdhj" routerLink="/enrich/prepare/csvviewer" routerLinkActive="ActiveRoute" aria-expanded="false">
                                    CSV Viewer
                            </a>
                            <a class="css-1wfdhj" routerLink="/enrich/csvreportviewer" routerLinkActive="ActiveRoute" aria-expanded="false">
                                CSV Report Viewer
                            </a>
                            <a class="css-1wfdhj" routerLink="/enrich/prepare/dynamiccomponent" routerLinkActive="ActiveRoute" aria-expanded="false">
                                Dynamic Template
                            </a>
                            <a class="css-1wfdhj" routerLink="/enrich/prepare/querybuilder" routerLinkActive="ActiveRoute" aria-expanded="false">
                                Query builder
                            </a>
                            <a class="css-1wfdhj" routerLink="/enrich/prepare/enrichmentfunctiongrid" routerLinkActive="ActiveRoute" aria-expanded="false">
                                Enrichment grid
                            </a>
                            <a class="css-1wfdhj" routerLink="/enrich/prepare/enrichmentfunctiongridColumn" routerLinkActive="ActiveRoute" aria-expanded="false">
                                Enrichment grid Column
                            </a> -->

                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div Class="col-sm-12 col-md-8 col-lg-10 col-lg-10 main-body" >
            <router-outlet></router-outlet>
        </div>
    </div>
    </div>