/* .label-red {
    background: #fad1d1;
    border: 1px solid #fad1d1;
    color: #832828;
}

.label-raw {
    background: #d9f9f3;
    border: 1px solid #d9f9f3;
    color: #35796c;
}

.label-Warning {
    background: #ffeec4;
    border: 1px solid #ffeec4;
    color: #7f540b;
} */