li > div > a {
  text-decoration: none;
}

.main-nav-dropdown-a {
  height: 30px !important;
  padding: 7px 16px 7px 28px !important;
}

.main-nav-dropdown-selected {
  color: rgb(33, 155, 156);
  background-color: rgb(244, 250, 250);
  /* border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(33, 155, 156); */
}
/* .main-nav-dropdown-selected::before {
  position: absolute;
  left: 1.2rem;
  content: "✓";
  font-weight: 600;
  color: rgb(33, 155, 156);
} */


/* start temporary changes css */
/* .main-nav-dropdown-selected::before {
  position: absolute;
  left: 1.2rem;
  content: "✓";
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.main-nav-dropdown-selected {
  color: rgb(255, 255, 255);
  background-color: rgb(40, 43, 51)!important; */
  /* border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(33, 155, 156); */
/* }
.dropdown-nav-btn:active:not([aria-disabled="true"]) {
  color: rgb(255, 255, 255);
  background-color: rgb(40, 43, 51)!important;
}
.css-1olq135 {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  margin-left: unset;
  padding-top: unset;
  padding-right: unset;
  padding-bottom: unset;
  padding-left: unset;
  font-family: inherit;
  box-sizing: border-box;
  display: flex;
  vertical-align: top;
  border-width: 0px 0px 1px;
  border-color: rgb(40, 43, 51)!important;
  
  border-style: solid;
}

.css-1olq135:hover {
  border-bottom: 1px solid rgb(255, 255, 255) !important;
background-color:rgb(37, 43, 58);
}

.css-1lf83w2{
  color: rgb(255, 255, 255) !important;
}
.separator{
  color: rgb(255, 255, 255) !important;
}
.dropdown-nav-btn {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  margin-left: unset;
  padding-top: unset;
  padding-bottom: unset;
  font-family: inherit;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
  background-color: transparent;
  color:  rgb(255, 255, 255) !important;
  display: inline-flex;
  width: 32px;
  height: 32px;
  vertical-align: top;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  border-radius: 2px;
  text-decoration: none;
}
.nav-list-s{
  color:  rgb(255, 255, 255) !important;
}
#navbar
{
  border-bottom: 1px solid rgb(40, 43, 51)!important;
  background-color:rgb(40, 43, 51);
}
.main-menu-active {
  border-bottom: 1px solid rgb(255, 255, 255) !important;
} */
/* end temporary changes css */
/* .css-1lf83w2 {
  background-color: rgb(231, 240, 253);
  color: rgb(52, 59, 64);
} */
/* Main manu with sub menu */
/* The navigation menu */


/* dashboard navbar styling */

.dashboard-navbar{
  grid-template-columns: repeat(17, 1fr);
position: unset;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-inline-box !important;
overflow-x: auto !important;
-ms-flex-wrap: none;
flex-wrap: unset!important;
width: 87%;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
/* padding: 16px 5px 12px 0; */
padding: 6px 5px 0px 0;
margin: 0 10px;
}

div.dashboard-navbar::-webkit-scrollbar {
  width: 0;
  height: 5px;
}

div.dashboard-navbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

div.dashboard-navbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Navigation links */
.navbar a {
  /* float: left; */
  font-size: 12px;
  color: black;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  /* float: left; */
  padding-right: 12px;
  overflow: hidden;
  font-size: 14px;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: #515961;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #fff;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position:absolute !important;
  /* left: 0; */
  text-align: left;
  background-color:#fff;
  /* width: 100%; */
  z-index: 4;
  /* padding: 8px 8px; */
}

/* Style the subnav links */
.subnav-content a {
  /* float: left; */
  color: #515961;
  font-size: 12px;
  padding: 12px 4px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #fff;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #fff;
  color: #515961;
  border-bottom:1px solid rgb(33, 155, 156);
  /* padding: 7px 14px */
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
  width: -webkit-min-content;
  min-width: 180px;

}

/* nav 2 */
.navbar a {
  /* float: left; */
  font-size: 12px;
  color: black;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

/* The subnavigation menu */
.subnav2 {
  /* float: left; */
  padding-right: 12px;
  font-size: 14px;
  position: relative;
}

/* Subnav button */
.subnav2 .subnavbtn2 {
  font-size: 14px;
  border: none;
  outline: none;
  color: #515961;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 6px 14px;
}

/* Add a red background color to navigation links on hover */
.navbar2 a:hover, .subnav2:hover .subnavbtn2 {
  background-color: #fff;
}

/* Style the subnav content - positioned absolute */
.subnav-content2 {
  display: none;
  position:absolute !important;
  /* left: 0; */
  text-align: left;
  background-color:#fff;
  /* width: 100%; */
  z-index: 4;
  padding: 8px 8px;
}

/* Style the subnav links */
.subnav-content2 a {
  /* float: left; */
  color: #515961;
  font-size: 12px;
  padding: 12px 4px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #fff;
  text-overflow:ellipsis;
}

/* Add a grey background color on hover */
.subnav-content2 a:hover {
  background-color: #fff;
  color: #515961;
  border-bottom:1px solid rgb(33, 155, 156);
  /* padding: 7px 14px */
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav2:hover .subnav-content2 {
  display: block;
  width: -webkit-min-content;
  min-width: 180px;
  top: 0;
  left: 172px;
}


