<div id="container" class="container-fluid">
    <!--start side content-->
    <div class="sidebar-border">
        <div style="width: 224px;"></div>
        <div class="css-1j7c4l9">
            <div class="css-4468y5">
                <div class="css-1qm07br">
                    <div class="css-1vkpoll">
                        <div class="css-1vkpoll">
                            <a class="css-1w5p645" routerLink="/publish/createdashboard/getstarted" routerLinkActive="ActiveRoute">Get started</a>
                            <hr class="css-iq3ejn" mx="zero" role="separator" aria-orientation="vertical">
                        </div>
                        <div class="css-1vkpoll">
                            <a class="css-skkt0a" href="#">Choose Datasource</a>
                            <hr class="css-iq3ejn" mx="zero" role="separator" aria-orientation="vertical">
                        </div>
                        <div class="css-1vkpoll">
                            <a class="css-bis9cy" routerLink="/publish/createdashboard/prebuilt" routerLinkActive="ActiveRoute">Select pre-built content</a>
                            <hr class="css-iq3ejn" mx="zero" role="separator" aria-orientation="vertical">
                        </div>
                        <div class="css-1vkpoll">
                            <a class="css-1hjncg2" routerLink="/publish/createdashboard/kpilibrary" routerLinkActive="ActiveRoute">Check Metrics & KPI Library</a>
                            <hr class="css-iq3ejn" mx="zero" role="separator" aria-orientation="vertical">
                        </div>
                        <div class="css-1vkpoll">
                            <a class="css-1hjn5c2" href="#"> Choose Dimension</a>
                            <hr class="css-iq3ejn" mx="zero" role="separator" aria-orientation="vertical">
                        </div>
                        <div class="css-1vkpoll">
                            <a class="css-1hjnc6g2" href="#">Publish Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end side content-->
    <!-- Content -->
    <div style="min-height: 671px;">
        <router-outlet></router-outlet>
    </div>
</div>