<div style="min-height: 600px;">
<form #Myform="ngForm">
  <div>
    <div class="main-section ">
      <div   class="header" style="cursor:pointer;" > 
          
           </div>
           <div>
            <h3>STEP 5:</h3> 
            <h3>Connection Summary</h3>
           </div>
        </div>
         <div class="tool-section">
        </div>
        <div class="row">
            <div class="col-md-8"> 
              <fieldset class="module aligned ">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <div class="form-row field-stack" style="padding: 28px 12px 12px 5px;">
                                <label class="label-text" for="id_stack">Account Display Name : </label><span>umar farooq</span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-row field-stack" style="padding: 28px 12px 12px 5px;">
                                <label class="label-text" for="id_stack">workspace : </label><span>workspace</span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-row field-stack" style="padding: 28px 12px 12px 5px;">
                                <label class="label-text" for="id_stack">Enable Connection : </label><span>Enable connection</span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-row field-stack" style="padding: 28px 12px 12px 5px;">
                                <label class="label-text" for="id_stack">Visibility Mode : </label><span>Visibility Mode</span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-row field-stack" style="padding: 28px 12px 12px 5px;">
                                <label class="label-text" for="id_stack">Comments : </label><span>Comments</span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-row field-stack" style="padding: 28px 12px 12px 5px;">
                                <label class="label-text" for="id_stack">Special Comments : </label><span>Special Comments</span>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-7">
                       <div class="form-row field-stack" >
                        <label class="label-text" for="id_stack">Workspace to use *</label>
                         <div class="related-widget-wrapper">
                            <select type="text"  required name="workspace" style="height: 31px;width: -webkit-fill-available;"  required="required" class="form-control" maxlength="200"> 
                               <option value="selected">selected</option>      
                              </select> 
                         </div>
                             
                          <div id="hint_id_email" class="help-block">
                            Field workspace
                              
                          </div>
                    </div>
                   
    
                    </div>
                  </div>
                 <div class="row">
                    <div class="col-md-7">
                        <div class="form-row field-stack">
                         
                           <label class="label-text" for="id_stack"> </label>
                           <div class="related-widget-wrapper">
                              
                             <div class="switch" style="display: flex;" >
                                <input type="checkbox"  name="EnableConnectoins"  id="EnableConnectoins"  >
                                <label style="padding:2px 0 0 12px;" class=" " for="EnableConnectoins">Enable connection</label>
                            </div>  
                               </div>
                            <div id="hint_id_email" class="help-block">
                                 Enable connection  
                            </div>
                       </div>
                     </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7">
                        <div class="form-row field-stack">
                         
                           <label class="label-text" for="id_stack"> </label>
                           <div class="related-widget-wrapper">
                              
                             <div class="switch" style="display: flex;" >
                                <input type="checkbox"  name="visibilityMode"   id="visibilityMode"  >
                                <label style="padding:2px 0 0 12px;" class=" " for="visibilityMode">Visibility</label>
                            </div>  
                               </div>
                            <div id="hint_id_email" class="help-block">
                                 Visibility  mode 
                            </div>
                       </div>
                     </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7">
                        <div class="form-row field-stack">
                         
                           <label class="label-text" for="id_stack">Comments</label>
                           
                              
                            <div class="related-widget-wrapper">
                                <textarea class="form-control" cols="3" rows="3" name="commentsection"   placeholder="Type comments" required></textarea>
                             </div>
                               
                            <div id="hint_id_email" class="help-block">
                             Field  comments section
                            </div>
                       </div>
                     </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7">
                        <div class="form-row field-stack">
                         
                           <label class="label-text" for="id_stack">Special Comment</label>
                           <div class="related-widget-wrapper">
                            <textarea class="form-control" cols="3" rows="3"  name="specialcomments"  placeholder="Type comments" required></textarea>
                             </div>
                               
                            <div id="hint_id_email" class="help-block">
                                Field special comments
                            </div>
                       </div>
                     </div>
                  </div>
              </fieldset> 
            </div>
           <div class="col-md-3 col-md-offset-1">
            <div>
                
                <div class="related-widget-wrapper">
                   <img  src="../../../assets/images/{{imgname}}" style="min-height: 60px;"   width="100" >
                 </div>
               </div>
           </div>
          </div>






        </div>
        </form>
</div>
