.box-active {
    text-decoration: none;
 border: 1px solid #219b9c;
    color: #555;
    background-color: #f5f5f5;
}
.simple-box {
    display: block;
    text-align: left;
    padding: 8px;
    margin: 15px 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: #fff;
    font-family: 'Open Sans';
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}
.simple-box:hover{
    text-decoration: none;
    color: #555;
    background-color: #f5f5f5;
}