<div [ngClass]="className"  class="dashboards-column-right background-color" style="border-width: 0px 0px 0px 1px; border-color: rgb(221, 224, 228); border-style: solid;">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="channels-small-box" style="height: 250px;">
                        <app-basic-column-chart-widget #basicColumnChart2></app-basic-column-chart-widget>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="channels-small-box" style="height: 250px;">
                        <app-area-chart-wedget #areaChart></app-area-chart-wedget>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="channels-small-box" style="height: 250px;">
                        <app-pie-chart-wedget #pieChart></app-pie-chart-wedget>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="channels-small-box" style="height: 250px;">
                        <app-bar-chart-wedget #barChart></app-bar-chart-wedget>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div style="margin: 15px 0;">
                        <div class="channels-small-box-dt darktheme-chart-shadow">
                            <h3>7.926.548 $</h3>
                            <p>Conversion Value</p>
                            <div style="display:inline-flex">
                                <div>
                                    <p>256.136</p>
                                    <p>Conversions</p>
                                </div>
                                <hr class="divder-line-hr">
                                <div>
                                    <p>27.92 $</p>
                                    <p>Avg Conv.Value</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="channels-small-box-dt darktheme-chart-shadow">
                            <h3>1.261.580 $</h3>
                            <p>Cost</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="channels-small-box" style="height: 250px;">
                        <app-stack-chart-wedget #stackChart></app-stack-chart-wedget>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->