<div class="container-fluid">
    <div class="row" style="padding: 28px 0 28px 0;">
        <div class="col-md-12">
            <div class="col-md-5" style="margin-top:14%;">

                <div class="css-7eznv6 col-md-8" style="padding: 0%;">
                    <div class="css-8pd3g8">
                        <div class="css-19eq8b8" style="background-color: #ffa31a">
                            <span class="css-1v8nodn">Actions Calls</span>
                            <div class="css-f128gq"><span class="css-79bu3q"><a class="css-db069s" href="">All Issues</a></span>
                            </div>
                        </div>
                        <hr class="css-rni0qy" mx="zero" role="separator" aria-orientation="horizontal">
                    </div>
                    <div class="css-15rwz9m">
                        <div class="css-4jsk13">
                            <div class="css-f128gq"><span class="css-jgo6ip">Issues</span><span class="css-qyqq4c">Ad spending</span>
                            </div>
                            <br>
                            <p>
                                Decline observed against product "Trouser 44 inch" in age group 25-35. Ad spending needs revision.
                            </p>
                            <!-- <div class="css-1slzy86">
                         <div class="css-1uthf9p">
                            <h1 class="css-1qck51l"><a class="css-am6n7a" href="#">YouTube Analytics - abc</a></h1>
                            <span class="css-x5dnxc">An error occurred while fetching time range 2020-07-01 - 2020-07-19</span>
                         </div>
                         <div class="css-mpc60k">
                            <span class="css-1l2ssm">
                               <span class="css-a4oruz">
                                  <div class="css-1slzy86"><span class="css-x5dnxc">invalid_grant: Bad Request</span>
                                  </div>
                               </span>
                            </span>
                         </div>
                      </div> -->
                        </div>
                    </div>
                    <hr class="css-1mn79hm" mx="zero" role="separator" aria-orientation="horizontal">
                    <div class="css-15rwz9m">
                        <div class="css-4jsk13">
                            <div class="css-f128gq"><span class="lable-round-green">Opportunity</span><span class="css-qyqq4c"> Boost in clicks</span>
                            </div>
                            <br>
                            <p>
                                Sudden boost observed against campaign "Upcoming Black Friday Discount". Marketing channel optimization required.
                            </p>
                            <!-- <div class="css-1slzy86">
                         <div class="css-1uthf9p">
                            <h1 class="css-1qck51l"><a class="css-am6n7a" href="#">YouTube Public - Video Report 4</a></h1>
                            <span class="css-x5dnxc">An error occurred while fetching time range 2020-07-06 - 2020-07-08</span>
                         </div>
                         <div class="css-mpc60k">
                            <span class="css-1l2ssm">
                               <span class="css-a4oruz">
                                  <div class="css-1slzy86"><span class="css-x5dnxc">invalid_grant: Bad Request</span>
                                  </div>
                               </span>
                            </span>
                         </div>
                      </div> -->
                        </div>
                    </div>
                    <hr class="css-1mn79hm" mx="zero" role="separator" aria-orientation="horizontal">
                    <div class="css-15rwz9m">
                        <div class="css-4jsk13">
                            <div class="css-f128gq"><span class="lable-round-yellow">Reminder</span><span class="css-qyqq4c">Subscription Expiry</span>
                            </div>
                            <br>
                            <p>
                                Zoom360 subscription expiring in two weeks. Re-submit subscription fees.
                            </p>
                            <!-- <div class="css-1slzy86">
                         <div class="css-1uthf9p">
                            <h1 class="css-1qck51l"><a class="css-am6n7a" href="#">YouTube Public - Channel Report 2</a></h1>
                            <span class="css-x5dnxc">An error occurred while fetching time range 2020-07-08 - 2020-07-08</span>
                         </div>
                         <div class="css-mpc60k">
                            <span class="css-1l2ssm">
                               <span class="css-a4oruz">
                                  <div class="css-1slzy86"><span class="css-x5dnxc">invalid_grant: Token has been expired or revoked.</span>
                                  </div>
                               </span>
                            </span>
                         </div>
                      </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="col-md-12">
                    <img style="float: right;" src="assets\images\layout.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>