<div class="row div-mb">
    <div class="col-sm-12 col-md-12">
        <ng-select [items]="_filterList" bindLabel="dropdownText" placeholder="Select filter" bindValue="dropdownValue" [(ngModel)]="_filtervalue">
        </ng-select>
    </div>
    </div>
<div>
    <div class="div-mb">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1" style="margin-left: 18px;">
          Default radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 18px;">
          Default checked radio
        </label>
      </div>
    </div>
</div>
