<!-- <ng-container  *ngFor="let test of item?.measure">
  <div>
      <h5
       [ngStyle]="{'width':item.chart.width, 'font-size':item.chart.fontSize,'font-weight':item.chart.fontWeight}"
      [ngClass]="{'bgCounterStyle':item.chart.bgCounterColorStyle,'bgCounterStyleDefault':!item.chart.bgCounterColorStyle}"
      [countUp]="measure.total" 
      [options]="{prefix:item.chart.prefix,suffix:item.chart.suffix}">0</h5>
      <h6 class="text-center">{{measure.name}}</h6>
    </div>    
    <hr aria-orientation="vertical" [ngClass]="{'separatorScorecard':item.chart.scoreCardHr,
    'separatorScorecardNone':!item.chart.scoreCardHr}">
  </ng-container> -->



  <!-- data cmg test  -->
  
  <!-- <div *ngFor="let main of test">
    <div *ngFor="let measure of main?.measure"> -->
    <!-- <div>
      <h5 [ngStyle]="{'width':item.chart.width, 'font-size':item.chart.fontSize,'font-weight':item.chart.fontWeight}"
      [ngClass]="{'bgCounterStyle':item.chart.bgCounterColorStyle,'bgCounterStyleDefault':!item.chart.bgCounterColorStyle}"
      [countUp]="measure.total" 
      [options]="{prefix:item.chart.prefix,suffix:item.chart.suffix}">0</h5>
      <h6 class="text-center">{{measure.name}}</h6>
    </div>     -->
     <!-- <hr aria-orientation="vertical" [ngClass]="{'separatorScorecard':item.chart.scoreCardHr,
    'separatorScorecardNone':!item.chart.scoreCardHr}"> -->
    <!-- <h6 class="text-center">{{measure.name}}</h6>
    <h6 class="text-center">{{measure.total}}</h6>
  </div>
  </div> -->
  
  