<div class="dashboards-column-right">
    <div class="row">
        <div class="col-md-5">
            <div class="channels-small-box">
                <p>left col</p>
            </div>
            
        </div>
        <div class="col-md-7">
            <div class="channels-small-box">
                <p>right</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="channels-small-box">
                <div class="row p-0">
                    <div class="col-md-6">
                        <div class="channels-small-box-inner">
                            <p>right</p>
                            <h3>$1234</h3>
                            <p>test here</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="channels-small-box-inner">
                            <p>right</p>
                            <h3>$1234</h3>
                            <p>test here</p>
                        </div>
                    </div>
                </div>
                <div class="row p-0">
                    <div class="col-12">
                        <div class="channels-small-box-inner">
                            <p>right</p>
                            <h3>$1234</h3>
                            <p>test here</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <div class="col-md-7">
            <div class="channels-small-box">
                <p>right col</p>
            </div>
        </div>
    </div>

</div>